.home-page-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-page-thq-home-page-elm {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/tq_4orfuyhsr8-a2gc-1100h.png");
}
 
.home-page-thq-text-elm1 {
  top: 54.78189468383789px;
  left: 62.60869598388672px;
  color: rgba(250, 250, 247, 1);
  width: 445px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: 27.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-page-thq-loginsignup-elm {
  top: 56px;
  left: 1095px;
  width: 146px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-page-thq-rectangle13-elm {
  top: 0px;
  left: 0px;
  width: 141px;
  height: 32px;
  position: absolute;
  border-radius: 5px;
}
 
.home-page-thq-text-elm2 {
  left: 14px;
  color: rgba(255, 255, 255, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: 27.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-page-thq-rectangle1-elm {
  top: 141px;
  left: 63px;
  width: 1290px;
  height: 120px;
  position: absolute;
  border-radius: 25px;
}
 
.home-page-thq-text-elm3 {
  top: 174px;
  left: 115px;
  color: rgba(250, 250, 247, 1);
  width: 1185px;
  height: auto;
  position: absolute;
  font-size: 66px;
  font-style: Medium;
  text-align: left;
  font-family: Outfit;
  font-weight: 500;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-page-thq-image4-elm {
  top: 293px;
  left: 610px;
  width: 219px;
  height: 219px;
  position: absolute;
  border-radius: 25px;
}
 
.home-page-thq-rectangle2-elm {
  top: 682px;
  left: 104px;
  width: 1269px;
  height: 133px;
  position: absolute;
}
 
.home-page-thq-rectangle3-elm {
  top: 855px;
  left: 94px;
  width: 1290px;
  height: 124px;
  position: absolute;
}
 
.home-page-thq-text-elm4 {
  top: 863px;
  left: 174px;
  color: rgba(255, 255, 255, 1);
  width: 1130px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-page-thq-text-elm5 {
  top: 673px;
  left: 144px;
  color: rgba(144, 156, 113, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: SemiBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 600;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-page-thq-letsstartgrowingtogether-elm {
  top: 527px;
  left: 245px;
  width: 867px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-page-thq-text-elm6 {
  color: rgba(83, 90, 54, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 800;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-page-thq-image3-elm {
  top: 293px;
  left: 195px;
  width: 219px;
  height: 218px;
  position: absolute;
  border-radius: 25px;
}
 
.home-page-thq-image2-elm {
  top: 292px;
  left: 1025px;
  width: 219px;
  height: 219px;
  position: absolute;
  border-radius: 25px;
}
 
.home-page-link {
  display: contents;
}
 
.home-page-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-page-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-page-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
