body {
  margin: 0;
  font-family: Outfit, sans-serif;
  background-color: #87ae73;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.login-container {
  background: #E8E8D1;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 20px;
  box-sizing: border-box;
}

.welcome {
  text-align: center;
  color: #9F6F48;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.label {
  color: #9F6F48;
  font-size: 22px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
}

.input-box {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  background: #FAFAF7;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  height: 55px;
  margin-top: 30px;
  background: #9F6F48;
  color: #FAFAF7;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.links {
  margin-top: 25px;
  text-align: center;
}

.links a {
  display: block;
  color: #9F6F48;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: none;
}