.mood-input-base-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mood-input-base-thq-mood-input-base-elm {
  gap: 16px;
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/tq_dvhnr0swjk-0of6-1100h.png");
}
 
.mood-input-base-thq-frame1-elm {
  gap: 24px;
  top: 362px;
  left: 297px;
  width: 846px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.mood-input-base-thq-happybutton-elm {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 250, 247, 0.5);
}
 
.mood-input-base-thq-text-elm1 {
  width: 144px;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mood-input-base-text10 {
  color: #000000;
}
 
.mood-input-base-text11 {
  color: #000000;
}
 
.mood-input-base-text12 {
  color: #ffffff;
  font-size: 24px;
}
 
.mood-input-base-thq-sadbutton-elm {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 250, 247, 0.5);
}
 
.mood-input-base-thq-text-elm2 {
  color: rgb(0, 0, 0);
  width: 144px;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mood-input-base-text13 {
  color: #000000;
}
 
.mood-input-base-text15 {
  color: #fbfbfa;
  font-size: 24px;
}
 
.mood-input-base-thq-angrybutton-elm {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 250, 247, 0.5);
}
 
.mood-input-base-thq-text-elm3 {
  width: 144px;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mood-input-base-text16 {
  color: #000000;
}
 
.mood-input-base-text17 {
  color: #000000;
}
 
.mood-input-base-text18 {
  color: #f5eded;
  font-size: 24px;
}
 
.mood-input-base-thq-anxiousbutton-elm {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 250, 247, 0.5);
}
 
.mood-input-base-thq-text-elm4 {
  width: 144px;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mood-input-base-text19 {
  color: #000000;
}
 
.mood-input-base-text20 {
  color: #000000;
}
 
.mood-input-base-text21 {
  color: #f9f6f6;
  font-size: 24px;
}
 
.mood-input-base-thq-calmbutton-elm {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 250, 247, 0.5);
}
 
.mood-input-base-thq-text-elm5 {
  color: rgb(0, 0, 0);
  width: 144px;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mood-input-base-text22 {
  color: #000000;
}
 
.mood-input-base-text24 {
  color: #ffffff;
  font-size: 24px;
}
 
.mood-input-base-thq-text-elm6 {
  top: 257px;
  left: 427px;
  color: rgba(159, 111, 71, 1);
  width: 585px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: 66px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mood-input-base-link {
  display: contents;
}
 
.mood-input-base-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.mood-input-base-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.mood-input-base-text25 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
