.reccomendations-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.reccomendations-thq-reccomendations-elm {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/tq_njiqak8vr1-c698-1100h.png");
}
 
.reccomendations-thq-rectangle15-elm {
  top: 602px;
  left: 183px;
  width: 1074px;
  height: 171px;
  position: absolute;
  border-radius: 15px;
}
 
.reccomendations-thq-rectangle16-elm {
  top: 317px;
  left: 183px;
  width: 1074px;
  height: 171px;
  position: absolute;
  border-radius: 15px;
}
 
.reccomendations-thq-text-elm1 {
  top: 519px;
  left: -48px;
  color: rgba(159, 111, 71, 1);
  width: 873px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 66px;
  font-stretch: normal;
  text-decoration: none;
}
 
.reccomendations-thq-text-elm2 {
  top: 248px;
  left: 151px;
  color: rgba(159, 111, 71, 1);
  width: 142px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 66px;
  font-stretch: normal;
  text-decoration: none;
}
 
.reccomendations-thq-text-elm3 {
  top: 109px;
  left: 553px;
  color: rgba(159, 111, 71, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 66px;
  font-stretch: normal;
  text-decoration: none;
}
 
.reccomendations-thq-group2-elm {
  top: 828px;
  left: 535px;
  width: 369px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reccomendations-thq-rectangle18-elm {
  top: 0px;
  left: 0px;
  width: 369px;
  height: 55px;
  position: absolute;
  border-radius: 15px;
}
 
.reccomendations-thq-text-elm4 {
  top: -7px;
  color: rgba(255, 255, 255, 1);
  right: 1px;
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: center;
  font-family: Outfit;
  font-weight: 500;
  line-height: 66px;
  font-stretch: normal;
  text-decoration: none;
}
 
.reccomendations-thq-mood-garden-elm {
  top: 22px;
  left: 36px;
  width: 431px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reccomendations-thq-text-elm5 {
  top: 3px;
  color: rgba(250, 250, 247, 1);
  right: -24px;
  width: 440px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: 27.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.reccomendations-link {
  display: contents;
}
 
.reccomendations-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.reccomendations-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.reccomendations-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
