.signup-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.signup-thq-signup-elm {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/tq_kyiexmbi62-qy47-1100h.png");
}
 
.signup-thq-rectangle2-elm {
  top: 119px;
  left: 284px;
  width: 871px;
  height: 786px;
  position: absolute;
}
 
.signup-thq-login-button-elm {
  top: 751px;
  left: 594px;
  width: 251px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.signup-thq-rectangle6-elm1 {
  top: 15px;
  left: 0px;
  width: 251px;
  height: 59px;
  position: absolute;
  border-radius: 15px;
}
 
.signup-thq-text-elm1 {
  left: 18.043750762939453px;
  color: rgba(250, 250, 247, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-rectangle4-elm {
  top: 289px;
  left: 384px;
  width: 622px;
  height: 59px;
  position: absolute;
}
 
.signup-thq-rectangle5-elm {
  top: 402px;
  left: 384px;
  width: 622px;
  height: 59px;
  position: absolute;
  border-radius: 15px;
}
 
.signup-thq-rectangle6-elm2 {
  top: 526px;
  left: 384px;
  width: 622px;
  height: 59px;
  position: absolute;
  border-radius: 15px;
}
 
.signup-thq-rectangle7-elm {
  top: 648px;
  left: 384px;
  width: 622px;
  height: 59px;
  position: absolute;
  border-radius: 15px;
}
 
.signup-thq-text-elm2 {
  top: 223px;
  left: 384px;
  color: rgba(159, 111, 71, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-text-elm3 {
  top: 342px;
  left: 384px;
  color: rgba(159, 111, 71, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-text-elm4 {
  top: 580px;
  left: 384px;
  color: rgba(159, 111, 71, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-text-elm5 {
  top: 461px;
  left: 384px;
  color: rgba(159, 111, 71, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-text-elm6 {
  top: 157px;
  left: 412px;
  color: rgba(159, 111, 71, 1);
  height: auto;
  position: absolute;
  font-size: 43px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-text-elm7 {
  top: 714px;
  left: 558px;
  color: rgba(159, 111, 71, 1);
  width: 323px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-thq-text-elm8 {
  top: 819px;
  left: 496px;
  color: rgba(144, 156, 113, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
 
.signup-link {
  display: contents;
}
 
.signup-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.signup-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.signup-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
